

label{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #17264D
}
input[type='email'],
input[type = 'password'] {
    margin-bottom: 1.5rem;
    padding: 0.5rem 0.5rem;
    border:0;
    border-radius: 7.5px;
    outline: none;
    min-width: 350px;
}


.error{
background-color: #fc93a9 ;
}
.error::placeholder{
    color: white;
    font-weight: 200;
}